<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SCRIPT VUE -->
    <script defer src="https://unpkg.com/vue@next"></script>
    <!-- SCRIPT JS -->
    <script defer src="js/app.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/png" href="favicon.ico"/>
    <!-- BOOSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <title>Notes</title>
</head>
<body id="app">
    <nav class="navbar navbar-light justify-content-between">
      <div class="container">
        <a class="navbar-brand">Mes Notes</a>
        <img @click="displayFormNote" class="create_note" src="img/plus.png">
      </div>
    </nav>
    
    <div class="bg_color">
      <div class="container">

        <!-- Barre de recherche -->
        <div class="input-group mb-3">
            <input type="text" placeholder="Rechercher une note" class="form-control mt-2 search_note" aria-label="Default" aria-describedby="inputGroup-sizing-default" @input.prevent="searchNote" v-focus v-model="search">
          </div>
            
          <!-- Formulaire d'ajout -->
            <div v-if="seenAddNote" class="card mt-4 mb-4 div_add_note" style="width: 100%;">
              <div class="card-body">
                  <form @submit.prevent="addNote">
                    <input type="text" class="form-control" v-model="titleNote" placeholder="Titre" v-focus />
                    <textarea  @input.prevent="countWord" v-model="bodyNote" class="form-control mt-4 content_note" aria-label="With textarea" placeholder="..."></textarea>
                    <div class="btn_nb">
                      <button type="submit" class="btn btn_add_note mt-4" :disabled="!bodyNote.trim() || !titleNote.trim()">Ajouter</button>
                      <p class="mt-4 nb_word">Nombre de mots : {{ nbWord }}</p>
                    </div>
                  </form>              
              </div>
          </div>

          <!-- Formulaire d'édition -->
          <div v-if="seenEditNote" class="card mt-4 mb-4 div_add_note" style="width: 100%;">
            <div class="card-body">
                <form @submit.prevent="updateNote">
                  <input type="text" class="form-control" v-model="titleNote" placeholder="Titre" v-focus/>
                  <textarea  @input.prevent="countWord" v-model="bodyNote" class="form-control mt-4 content_note" aria-label="With textarea" placeholder="..."></textarea>
                  <div class="btn_nb">
                    <button type="submit" class="btn btn_add_note mt-4" :disabled="!bodyNote.trim() || !titleNote.trim()">Modifier</button>
                    <p class="mt-4 nb_word">Nombre de mots : {{ nbWord }}</p>
                  </div>
                </form>              
            </div>
          </div>

          <!-- Card qui contient les notes-->
          <div class="card div_note mt-4"  v-for="note in notes">
            <div class="card-header" id="headingOne">
              <div class="head_card">
                <h5 class="mb-0 title_note">{{ note.title }}</h5>
                <div>
                  <a @click.prevent="editNote(note)" href=""><img class="edit_note" src="img/pencil.png"></a>
                  <a @click.prevent="deleteNote(note.id)" href=""><img class="delete_note" src="img/delete.png"></a>
                </div>
              </div>
            </div>
            <div>
              <div 
              v-if="note.id != idBigNote"
              class="card-body text_note">
              {{ note.content.substring(0,30) }} <span v-if="note.content.length > 30">...</span>
              </div>
              <div 
              v-else
              class="card-body text_note">
              {{ note.content }}
              </div>
              <button 
              v-if="note.content.length > 30"
              @click.prevent="displayBigNote(note.id)"
              class="btn read mb-2" >
              Voir
            </button>
            </div>
          </div>
        

      </div>
    </div>

    <footer class="footer-copyright text-center py-3">
        <span>{{ notes.length }}</strong> {{ notes.length <= 1 ? 'note'
          : 'notes' }}</span>
    </footer>
</body>
</html>